@import "constants/constants.scss";

.snake_wrapper {
  margin: 0 auto;
  width: 100%;

  .level_box {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 16px 0;
  }

  .game_board {
    border: 1px solid #000;
    background-color: #fafafa;
    display: block;
    margin: 20px auto;
  }

  .status_button {
    display: flex;
    justify-content: center;
    margin: 24px 0;
  }

  .additional_text {
    color: $color_grey;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    p {
      width: 500px;

      a {
        color: $color_mint
      }
    }
  }
}

.score_wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .score_text {
    font-size: 24px;

    span {
      font-weight: bold;
    }
  }
}