@import "constants/constants.scss";

.header {
  display: flex;
  justify-content: center;
  min-height: 80px;
  background-color: $color_grey;
  width: 100%;

  .header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    max-width: 1340px;
    width: 100%;
    padding: 0 50px;

    .logo_wrapper {
      display: flex;
      align-items: center;
      gap: 20px;
      text-decoration: none;

      .header__text {
        color: #fff;
        font-weight: 600;
        font-size: 18px;
      }
    }

    .userBox {
      display: flex;
      align-items: center;
      gap: 20px;

      .userName {
        color: #fff;
      }
    }

    .link {
      text-decoration: none;

      .link__text {
        color: #fff;
        font-weight: 600;
        font-size: 16px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.popover {
  padding: 0 10px;
  min-width: 150px;
  text-align: center;

  .popover_link {
    display: block;
    text-decoration: none;
    color: $color_grey;
    font-weight: 600;
    font-size: 16px;
    padding: 16px 0;
    cursor: pointer;
  }
}