@import "constants/constants.scss";

.form {
  .form__paper {
    margin: 32px 0;
    padding: 16px;

    .form__title {
      font-size: 32px;
      text-align: center;
      font-weight: 700;
    }

    .form__avatar {
      width: 80px;
      height: 80px;
      margin: 24px auto;
    }

    .form__text {
      color: $color_lightGrey;
      margin: 20px 0;
      text-align: center;
    }

    .form__box {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .forgot_password {
        text-align: right;
        a {
          color: $color_mint;
        }
      }

      .form__submit_button {
        display: block;
        margin: 0 auto;
        font-size: 1rem;
      }
    }
  }

  .form__subtitle {
    text-align: center;
    color: $color_lightGrey;

    a {
      color: $color_mint;
    }
  }

  .form__return_button {
    display: block;
    text-align: center;
    margin: 20px auto;
    font-size: 1rem;
    color: $color_mint;
    width: fit-content;
  }
}